<ion-content>
  <div class="landing">
    <div class="ion-text-center">
      <img src="./assets/img/limited.png">
    </div>
    <ion-button expand="block" shape="round" class="ion-margin" color="tertiary" routerDirection="root" routerLink="/search">جستجو کتاب</ion-button>
    <ion-button expand="block" shape="round" class="ion-margin" color="tertiary" routerDirection="root" routerLink="/library">کتابخانه تخصصی</ion-button>
    <ion-button expand="block" shape="round" class="ion-margin" color="tertiary" routerDirection="root" routerLink="/introduction">معرفی امکانات اپلیکیشن</ion-button>
    <ion-button expand="block" shape="round" class="ion-margin" color="tertiary" routerDirection="root" routerLink="/downloaded-book">کتاب‌های دانلود شده</ion-button>
    <ion-button expand="block" shape="round" class="ion-margin" color="tertiary" routerDirection="root" routerLink="/favorites">علاقمندی‌ها</ion-button>
    <ion-button expand="block" shape="round" class="ion-margin" color="tertiary" routerDirection="root" routerLink="/setting">تنظیمات</ion-button>
    <ion-button expand="block" shape="round" class="ion-margin" color="tertiary" routerDirection="root" routerLink="/about">درباره من</ion-button>
  </div>

</ion-content>
