<ion-content>

  <div class="landing">
    <div class="ion-text-center">
      <img src="./assets/img/book4.png">
    </div>
    <ion-slides [options]="optionSlide" >
      <ion-slide *ngFor="let book of books">
        <ion-img src="{{book.imageUrl}}">
        </ion-img>
      </ion-slide>
    </ion-slides>
    <ion-button expand="block" shape="round" class="ion-margin" color="tertiary" routerDirection="root" routerLink="/search">جستجو و دانلود کتاب</ion-button>
    <ion-button expand="block" shape="round" class="ion-margin" color="tertiary" routerDirection="root" routerLink="/library">کتابخانه تخصصی</ion-button>
    <ion-button expand="block" shape="round" class="ion-margin" color="tertiary" routerDirection="root" routerLink="/introduction">معرفی امکانات اپلیکیشن</ion-button>
    <ion-button expand="block" shape="round" class="ion-margin" color="tertiary" routerDirection="root" routerLink="/downloaded-book">کتاب‌های دانلود شده</ion-button>
    <ion-button expand="block" shape="round" class="ion-margin" color="tertiary" routerDirection="root" routerLink="/favorites">علاقمندی‌ها</ion-button>
    <ion-button expand="block" shape="round" class="ion-margin" color="tertiary" routerDirection="root" routerLink="/about">درباره من</ion-button>
  </div>


</ion-content>
