<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/landing"></ion-back-button>
    </ion-buttons>
    <ion-title>حوزه کتاب‌ها</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="cent" *ngIf="!categories">
    <ion-spinner></ion-spinner><h4>در حال جستجو....</h4>
  </div>
  <div *ngIf="categories">
    <div class="category-block ion-padding" *ngFor="let cat of categories" tappable (click)="openSource(cat._id)"
         style="background-image: url({{cat.imageUrl}})">
      <p class="name">{{cat.field}}</p>
    </div>
  </div>

</ion-content>
