ion-slide {
  height: 100vh;
  flex-direction: column;
}

.slide-1 {
  background: var(--ion-color-primary);
}

.slide-2 {
  background: var(--ion-color-dark);
}

.slide-3 {
  background: var(--ion-color-danger);
}

.slide-4 {
  --background: none;
  background-image: url("../../../assets/img/tutorial2.jpeg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.bottom-box {
  position: absolute;
  bottom: 0px;
  background: #ffffff;
  height: 25vh;
  width: 100%;
  color: #222428;
}

.set-img {
  position: absolute;
  margin-bottom: 30vh;

}
ion-item {
  background: transparent !important;
}


.box p {
  text-align: right;
}
