<ion-slides>
  <ion-slide class="slide-1">
      <ion-img class="set-img" src="./assets/img/limited.png"></ion-img>
    <div class="bottom-box">
      <h5>به نرم افزار دانلود کتاب زبان اصلی خوش آمدید. در صفحات بعد با امکانات اصلی آشنا می‌شویم</h5>
      <ion-button (click)="next()">صفحه بعد</ion-button>
    </div>
  </ion-slide>

  <ion-slide class="slide-2 ion-padding">
    <ion-img src="./assets/img/tutorial.jpeg"></ion-img>
    <div class="box">

      <p>- جستجوی پیشرفته کتاب‌ها و دانلود در فرمت‌های PDF-CHM-EPUB</p>
      <p>- ارایه اطلاعات کامل از حجم دانلود- زبان- فرمت- ...</p>
      <p>- مشاهده صفحه روی جلد کتاب‌ها پیش از دانلود</p>
      <p>- امکان ارسال درخواست کتاب به ناشر و ارایه آن در لیست کتب رایگان</p>
      <p>- امکان ذخیره اطلاعات کتاب‌ها در بخش علاقمندی‌ها </p>
      <p>- امکان اشتراک اطلاعات کتاب‌ها از طریق شبکه‌های اجتماعی</p>
      <ion-button (click)="next()">صفحه بعد</ion-button>
    </div>
  </ion-slide>

  <ion-slide class="slide-4">
    <ion-img class="set-img" src="./assets/img/tutorial2.jpeg"></ion-img>
    <div class="bottom-box">
      <p>با خرید نسخه کامل علاوه بر استفاده بدون محدودیت از ناشر برای تولید آپ‌های بهتر حمایت کنید. </p>
      <ion-button color="tertiary" (click)="finish()">ورود</ion-button>
    </div>
  </ion-slide>

</ion-slides>
