<ion-content fullscreen scroll-y="false">
  <ion-slides pager="true" #slide>
    <ion-slide class="slide-1">
      <ion-img src="./assets/img/lite2.png"></ion-img>
      <h2 class="ion-padding">به آپ دانلود کتاب به زبان انگلیسی<br>خوش آمدید</h2>
      <p>قوی ترین اپلیکیشن جستجو و دانلود کتاب‌</p>

    </ion-slide>

  <ion-slide class="slide-2">
    <ion-img src="./assets/img/tutorial.jpeg"></ion-img>
      <ion-list class="ion-padding">
        <ion-item>
          <ion-label>- جستجوی پیشرفته کتاب‌ها و دانلود در فرمت‌های PDF-CHM-EPUB</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>- دارا بودن کتابخانه تخصصی با کتب رایگان</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>- امکان جستجو براساس نام نویسنده</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>- ارایه اطلاعات کامل از حجم دانلود- زبان- فرمت- ...</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>- مشاهده صفحه روی جلد کتاب‌ها پیش از دانلود</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>- امکان ارسال درخواست کتاب به ناشر و دریافت آن در لیست کتب رایگان</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>- امکان ذخیره اطلاعات کتاب‌ها در بخش علاقمندی‌ها </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>- امکان اشتراک اطلاعات کتاب‌ها از طریق شبکه‌های اجتماعی</ion-label>
        </ion-item>
      </ion-list>
  </ion-slide>

  <ion-slide class="slide-4">
    <div class="bottom-box">
      <p>با خرید نسخه کامل علاوه بر استفاده بدون محدودیت، از ناشر برای تولید آپ‌های بهتر حمایت کنید. </p>
      <ion-button class="ion-margin ion-padding" expand="block"  shape="round" color="success" (click)="finish()">ورود</ion-button>
    </div>
  </ion-slide>

</ion-slides>
</ion-content>
