<ion-slides>
  <ion-slide class="slide-1">
      <ion-img class="set-img" src="./assets/img/limited.png"></ion-img>
      <h5>به نرم افزار دانلود کتاب زبان اصلی خوش آمدید</h5>
    <div class="bottom-box">
      <p>در صفحه بعد با امکانات اصلی آشنا شویم</p>
      <ion-button (click)="next()">صفحه بعد</ion-button>
    </div>
  </ion-slide>

  <ion-slide class="slide-2">
    <ion-img class="set-img" src="./assets/img/limited.png"></ion-img>
    <h5>به نرم افزار دانلود کتاب زبان اصلی خوش آمدید</h5>
    <div class="bottom-box">
      <p>در صفحه بعد با امکانات اصلی آشنا شویم</p>
      <ion-button (click)="next()">صفحه بعد</ion-button>
    </div>
  </ion-slide>

  <ion-slide class="slide-3">
    <ion-img class="set-img" src="./assets/img/limited.png"></ion-img>
    <h5>به نرم افزار دانلود کتاب زبان اصلی خوش آمدید</h5>
    <div class="bottom-box">
      <p>در صفحه بعد با امکانات اصلی آشنا شویم</p>
      <ion-button (click)="next()">صفحه بعد</ion-button>
    </div>
  </ion-slide>

  <ion-slide class="slide-4">
    <ion-img class="set-img" src="./assets/img/limited.png"></ion-img>
    <h5>به نرم افزار دانلود کتاب زبان اصلی خوش آمدید</h5>
    <div class="bottom-box">
      <p>در صفحه بعد با امکانات اصلی آشنا شویم</p>
      <ion-button (click)="finish()">ورود</ion-button>
    </div>
  </ion-slide>

</ion-slides>
