ion-content {
  --background: none;
  background-image: url("../../../assets/img/library2.jpeg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

ion-item {
  --background: transparent;
}
.centering {
  display: flex;
  justify-content: center;
  align-content: center;
}

*{
  font-family: IranSans !important;
}

.set-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.set-size {
  height: 100px;
  width: 100px;
  color: var(--ion-color-tertiary);
}

.landing {
  margin-top: 15vh;
}

.centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

