.set-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.set-size {
  height: 100px;
  width: 100px;
  color: var(--ion-color-tertiary);
}

img {
  border: 2px solid var(--ion-color-primary);
}
